{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/content/home.css" />

<div class="all_content">
    <div class="menu">
        <div class="main_menu">
            <input type="button" value="Products" name="product_search" />
            <input type="button" value="Transactions" name="transaction_list" />
        </div>

    </div>
    <div class="customer_cart">
        <input class="uni_search" type="text" placeholder="Enter Product SKU"/>

        <table class="cart">
            <tr>
                <th>Product SKU</th>
                <th>Product Name</th>
                <th>Quanity</th>
                <th>Price</th>
            </tr>
            <tr>
                <td height="100">January</td>
                <td height="100">$100</td>
                <td height="100">January</td>
                <td height="100">$100</td>
            </tr>
        </table>
    </div>

    <div class="sub_menu">
        <input type="button" value="Promo"/>
        <input type="button" value="Override"/>
    </div>

</div>
{% endblock %}
