{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/content/home.css" />

<div class="all_content">
    <div class="menu">
        <div class="main_menu">
            <input type="button" value="Products" name="product_search" />
            <input type="button" value="Transactions" name="transaction_list" />
        </div>

    </div>
    <div class="center">
        <form>
            <input class="uni_search" type="text" name="item_search" placeholder="Enter Product SKU" />
        </form>
        <div class="cart_container">
            <table class="cart">
                <tr class="table_headers">
                    <th>Product SKU</th>
                    <th>Product Name</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
            </table>
        </div>
        <div class="customer_block_home">
            <button class="customer_button">+</button>
        </div>
        <div class="totals">

        </div>
    </div>

    <div class="sub_menu">
        <div class="tab">
            <input class="sub_menuLink" type="button" value="Sales" onclick="sub_menuSelect(event,'sales')"></input>
            <input class="sub_menuLink" type="button" value="Manager" onclick="sub_menuSelect(event,'manager')"></input>
            <input class="sub_menuLink" type="button" value="Advanced" onclick="sub_menuSelect(event,'advanced')"></input>
        </div>

        <div id="sales" class="tabcontent" onclick="">
            <h1>h</h1>
        </div>
        <div id="manager" class="tabcontent">
            <h1>b</h1>
        </div>
        <div id="advanced" class="tabcontent">
            <h1>c</h1>
        </div>
    </div>

</div>

<script>
    function sub_menuSelect(evt, menuOption){
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("sub_menuLink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(menuOption).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
{% endblock %}
