{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/content/home.css" />

<div class="all_content">
    <div class="menu">
        <div class="main_menu">
            <input type="button" value="Products" name="product_search" />
            <input type="button" value="Transactions" name="transaction_list" />
        </div>

    </div>
    <div class="center">
        <form>
            <input class="uni_search" type="text" name="item_search" placeholder="Enter Product SKU" />
        </form>
        <div class="cart_container">
            <table class="cart">
                <tr class="table_headers">
                    <th>Product SKU</th>
                    <th>Product Name</th>
                    <th>Quanity</th>
                    <th>Price</th>
                </tr>
            </table>
        </div>
        <div class="customer_block_home">
            <button class="customer_button">+</button>
        </div>
        <div class="totals">

        </div>
    </div>

    <div class="sub_menu">
        <div class="tabs">
            <input type="button" value="Sales"/>
            <input type="button" value="Manager"/>
            <input type="button" value="Advanced" />
        </div>
    </div>

</div>
{% endblock %}
