{% extends "layout.html" %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <div class="sign_in">
        <h1>Welcome To Junker PoS</h1>
        <div class="sign_in_block">
            <h2 class="username_label">Username:</h2>
            <input class="username_input" type="text" />
        </div>
        <div class="sign_in_block">
            <h2 class="password_label">Password:</h2>
            <input class="password_input" type="password"/>
        </div>
    </div>



{% endblock %}
