@import "site_elem.css";

.all_content {
    margin-top: 50px;
    display: inline-flex;
    width: -webkit-fill-available;
}

.menu {
    margin-left: 5px;
    width: 100px;
    left: 0px;
    position: absolute;
}

.main_menu input{
    border-radius:      5px;
    border:             1px;
    border-color:       dimgrey;
    background-color:   dimgrey;
    color:              white;
    margin-bottom:      10px;
    height:             75px;
    width:              100px;
    text-align:         center;
}

.center {
    margin-left: 110px;
    margin-right: 270px;
    width: -webkit-fill-available;
    height: 500px;
}

.uni_search {
    width: -webkit-fill-available;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
    padding-left: 5px;
    
}

.customer_block_home {
    background-color: grey;
    color: white;
    margin-top: 5px;
    width: 25%;
    height: 25%;
    margin-right: 0px;
    display: inline-block;
}
.totals {
    background-color: grey;
    color: white;
    margin-top: 5px;
    width: 300px;
    height: 150px;
    display: inline;
    position: fixed;
    right: 0;
    margin-right: 270px;
}
.customer_button {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
    background: transparent;
    color: white;
    font-size: 25pt;
}

.cart_container {
    background-color: grey;
    width: 100%;
    height: 75%;
}
.cart{
    width: 100%;
}
.cart tr{
    color: white;
    background-color: grey;
    border: lightgray 1px solid;
    width: 100%;
    height: 5px;
}

.sub_menu {
    right: 0px;
    margin-left: 25px;
    margin-right: 12px;
    position: absolute;
}

  /* Style the buttons that are used to open the tab content */
.sub_menuLink {
    background-color: var(--themePrimary);
    border-color: var(--themePrimary);
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    height: 72px;
    width: 78px;
    text-align: center;
} 
  
/* Create an active/current tablink class */
.tab input.active {
  background-color: var(--themeDarkAlt);
  border:none;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}