:root {
    --themePrimary: #406276;
    --themeLighterAlt: #030405;
    --themeLighter: #0a1013;
    --themeLight: #131d23;
    --themeTertiary: #263b47;
    --themeSecondary: #385668;
    --themeDarkAlt: #4d7084;
    --themeDark: #628397;
    --themeDarker: #84a1b2;
    --neutralLighterAlt: #f8f8f8;
    --neutralLighter: #f4f4f4;
    --neutralLight: #eaeaea;
    --neutralQuaternaryAlt: #dadada;
    --neutralQuaternary: #d0d0d0;
    --neutralTertiaryAlt: #c8c8c8;
    --neutralTertiary: #595959;
    --neutralSecondary: #373737;
    --neutralPrimaryAlt: #2f2f2f;
    --neutralPrimary: #000000;
    --neutralDark: #151515;
    --black: #0b0b0b;
    --white: #ffffff;
    --focusable: #406276;
}
